<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Provider</servlet-name>
        <servlet-class>com.oc.servlets.ProviderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProviderPhoneServlet</servlet-name>
        <servlet-class>com.oc.servlets.ProviderPhoneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.oc.servlets.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerServlet</servlet-name>
        <servlet-class>com.oc.servlets.SellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeServlet</servlet-name>
        <servlet-class>com.oc.servlets.TypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>com.oc.servlets.DepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelperServlet</servlet-name>
        <servlet-class>com.oc.servlets.helperservlet.HelperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrderServlet</servlet-name>
        <servlet-class>com.oc.servlets.NewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderServlet</servlet-name>
        <servlet-class>com.oc.servlets.EditOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBusqueda</servlet-name>
        <servlet-class>com.oc.servlets.ServletBusqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInicioSesion</servlet-name>
        <servlet-class>com.oc.servlets.ServletInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>com.oc.servlets.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmenuServlet</servlet-name>
        <servlet-class>com.oc.servlets.SubmenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RollServlet</servlet-name>
        <servlet-class>com.oc.servlets.servlet.RollServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpcionesServlet</servlet-name>
        <servlet-class>com.oc.servlets.OpcionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>com.oc.servlets.UsuarioServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider</servlet-name>
        <url-pattern>/Provider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProviderPhoneServlet</servlet-name>
        <url-pattern>/ProviderPhoneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerServlet</servlet-name>
        <url-pattern>/SellerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeServlet</servlet-name>
        <url-pattern>/TypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/DepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelperServlet</servlet-name>
        <url-pattern>/HelperServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrderServlet</servlet-name>
        <url-pattern>/NewOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderServlet</servlet-name>
        <url-pattern>/EditOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBusqueda</servlet-name>
        <url-pattern>/ServletBusqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInicioSesion</servlet-name>
        <url-pattern>/ServletInicioSesion</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmenuServlet</servlet-name>
        <url-pattern>/submenu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RollServlet</servlet-name>
        <url-pattern>/roll.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpcionesServlet</servlet-name>
        <url-pattern>/opciones.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/usuario.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--<display-name>Recursos</display-name>
    <resource-ref>
        <description>fuente datos
        </description>
        <res-ref-name>jdbc/miDataSource</res-ref-name>
        <res-type>java.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>-->
</web-app>
